@charset "UTF-8";

html{
  font-size: 100%;
  scroll-behavior: smooth;
}

body{
  color: #333;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  color: #121212;
}

a{
  text-decoration: none;
  color: #333;
}

img{
  max-width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

.wrapper{
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

li{
  list-style: none;
}


/* Header */

.header{
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 10%, rgba(254, 229, 229, 1) 50%, rgba(255, 255, 255, 1) 90%);
}

.header__top{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 120px;
}

.site-title{
  line-height: 1px;
  height: 100px;
  width: 26.66%;
  padding-top: 38px;
  padding-bottom: 38px;
  display: inline-block;
  text-align: center;
}

.header__top__img{
  width: 73%;
}

.header__swiper{
  width: 32%;
  position: absolute !important;
  top: 100px;
  right: 0;
  z-index: 10;
}

.header__message{
  padding-top: 78px;
  padding-bottom: 79px;
  margin-bottom: 123px;
  text-align: center;
  background-image: url(../img/box-bg.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #fff;
  z-index: 10;
}

.header__message__title{
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 48px;
}

.header__message__text{
  font-size: 0.9375rem;
  font-weight: normal;
  font-family: 'Noto Sans JP', sans-serif;
  color: #707070;
  line-height: 2;
}

.header__message__text:last-of-type{
  margin-top: 30px;
}

.background{
  height: 400px;
  max-width: 1500px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.background img{
  height: 400px;
}

/* Page-Top */

.pagetop {
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: .3s;
  color: #00A6C4;
  background: #fff;
  
/*   デフォルトは非表示 */
  opacity: 0;
}
.pagetop:hover {
    box-shadow: 0 0 10px #00A6C4;
}

/* FLUFFY */

.fluffy{
  max-width: 1500px;
  margin: 0 auto;
  overflow: hidden;
}

.fluffy__left{
  margin-bottom: 120px;
}

.fluffy__left__title{
  display: block;
  width: fit-content;
  font-size: 3.125rem;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 8px;
  line-height: 1;
  background-image: linear-gradient(90deg, rgba(253, 197, 167, 1) 10%, rgba(255, 136, 112, 1) 90%);
  color: #fff;
  padding: 8px 16px;
}

.fluffy__left__title:last-of-type{
  margin-bottom: 32px;
}

.fluffy__left__img{
  width: 70%;
  position: relative;
}

.fluffy__left__circle{
  background-color: #f7f7f7;
  padding-top: 55px;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  font-size: 2rem;
  font-family: sans-serif;
}

.first-circle{
  text-align: center;
  position: absolute;
  top: -100px;
  right: -100px;
}

.first-circle__text{
  display: inline-block;
  line-height: 1;
}

.first-circle__up{
  display: inline-block;
  margin-bottom: 20px;
  border-bottom: 8px solid #FFFA64;
}

.first-circle .bold-number{
  display: inline-block;
  font-size: 3rem;
  font-weight: bold;
}

.first-circle__down{
  display: inline-block;
  border-bottom: 8px solid #FFFA64;
}

.second-circle{
  text-align: center;
  position: absolute;
  top: 154px;
  left: -22px;
}

.second-circle__up{
  display: inline-block;
  margin-bottom: 15px;
  border-bottom: 8px solid #FFFA64;
  line-height: 1;
}

.second-circle__down{
  display: inline-block;
  border-bottom: 8px solid #FFFA64;
  line-height: 1;
}

.third-circle{
  text-align: center;
  position: absolute;
  bottom: -118px;
  right: 160px;
}

.third-circle__up{
  display: inline-block;
  margin-bottom: 15px;
  border-bottom: 8px solid #FFFA64;
  line-height: 1;
}

.third-circle__down{
  display: inline-block;
  border-bottom: 8px solid #FFFA64;
  line-height: 1;
}

.fluffy__right{
  margin-bottom: 280px;
}

.fluffy__right__title{
  display: block;
  width: fit-content;
  font-size: 3.125rem;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0 0 0 auto;
  margin-bottom: 8px;
  line-height: 1;
  background-image: linear-gradient(90deg, rgba(253, 197, 167, 1) 10%, rgba(255, 136, 112, 1) 90%);
  color: #fff;
  padding: 8px 16px;
}

.fluffy__right__title:last-of-type{
  margin-bottom: 32px;
}

.fluffy__right__img{
  width: 70%;
  position: relative;
  margin: 0 0 0 auto;
}

.fluffy__right__circle{
  background-color: #f7f7f7;
  padding-top: 55px;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  font-size: 2rem;
  font-family: sans-serif;
}

.fourth-circle{
  text-align: center;
  position: absolute;
  top: -47px;
  left: -113px;
}

.fourth-circle__text{
  display: inline-block;
  line-height: 1;
}

.fourth-circle__up{
  display: inline-block;
  margin-bottom: 20px;
  border-bottom: 8px solid #FFFA64;
}

.fourth-circle .bold-number{
  display: inline-block;
  font-size: 3rem;
  font-weight: bold;
}

.fourth-circle__down{
  display: inline-block;
  border-bottom: 8px solid #FFFA64;
}

.fifth-circle{
  text-align: center;
  position: absolute;
  top: 148px;
  right: -22px;
}

.fifth-circle__text{
  display: inline-block;
  line-height: 1;
}

.fifth-circle__up{
  display: inline-block;
  margin-bottom: 20px;
  border-bottom: 8px solid #FFFA64;
}

.fifth-circle .bold-number{
  display: inline-block;
  font-size: 3.5rem;
  font-weight: bold;
}

.fifth-circle__down{
  display: block;
  border-bottom: 8px solid #FFFA64;
  width: fit-content;
  margin: 0 auto;
}

.sixth-circle{
  text-align: center;
  position: absolute;
  bottom: -153px;
  left: 246px;
  padding-top: 38px;
}

.sixth-circle__up{
  display: inline-block;
  margin-bottom: 5px;
  border-bottom: 8px solid #FFFA64;
  line-height: 1;
}

.sixth-circle__mid{
  display: inline-block;
  margin-bottom: 5px;
  border-bottom: 8px solid #FFFA64;
  line-height: 1;
}


.sixth-circle__down{
  display: inline-block;
  border-bottom: 8px solid #FFFA64;
  line-height: 1;
}


/* VARIATION */

.variation{
  max-width: 1500px;
  margin: 0 auto;
  margin-bottom: 200px;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 10%, rgba(232, 232, 232, 1) 50%, rgba(255, 255, 255, 1) 90%);
}

.section-title{
  font-size: 3.125rem;
  font-weight: normal;
  font-family: 'Noto Sans JP', sans-serif;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  text-align: center;
}

.section-title-ja{
  font-size: 1.125rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 80px;
}

.variation__box{
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  position: relative;
}

.variation__img{
  width: 300px;
  height: 400px;
  position: relative;
  z-index: 3;
}

.variation__img::after {
  content: " ";
  position: absolute;
  left: -40px;
  bottom: 40px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
}

.variation__img-second::after {
  background-color: #FFC0CB;
}

.variation__img-third::after {
  background-color: #707070;
}

.variation__img__title{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.1em;
}

.or-circle{
  width: 100px;
  height: 100px;
  border: 1px solid #707070;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  position: absolute;
  background-color: #fff;
  top: 150px;
  right: -95px;
  z-index: -1;
}

.variation__pick{
  margin-bottom: 120px;
}

.variation__pick__box{
  width: 680px;
  font-family: 'Noto Sans JP', sans-serif;
  position: relative;
  background-color: #fff;
  border: 1px solid #707070;
  padding: 50px 71px 50px 114px;
  margin: 0 0 0 auto;
}

.variation__pick__img{
  width: 360px;
  height: 240px;
  position: absolute;
  top: 60px;
  left: -300px;
  z-index: 2;
}

.variation__pick__title{
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 24px;
  line-height: 1;
}

.variation__pick__text{
  line-height: 1.5;
  margin-bottom: 24px;
}

.variation__pick__list{
  color: #707070;
}

.variation__pick__list li:not(:first-child){
  list-style: inside disc;
}

.variation__pick__btn-box{
  text-align: right;
}

.variation__pick__btn{
  display: inline-block;
  width: 229px;
  max-width: 100%;
  padding: 16px 10px;
  background-color: #707070;
  border: 1px solid transparent;
  color: #fff;
  font-size: 0.875rem;
  text-align: center;
  transition: .3s;
}

.variation__pick__btn:focus, .variation__pick__btn:hover{
  background-color: #fff;
  border-color: currentColor;
  color: #707070;
}

.variation__btn-box{
  text-align: center;
}

.variation__btn{
  display: inline-block;
  width: 600px;
  max-width: 100%;
  padding: 38px 10px;
  background-color: #fff;
  border: 1px solid #707070;
  color: #121212;
  font-size: 0.875rem;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
}

#mask{
  background: rgb(0, 0, 0, .6);
  position: fixed;
  inset: 0;
  z-index: 9998;
  opacity: 0;
  visibility: hidden;
}

#modal{
  background: #fff;
  max-width: 36rem;
  height: 500px;
  padding: 96px 130px;
  position: fixed;
  inset: 72px 0 auto;
  margin: auto;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  overflow-y: scroll;
}


























summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.summary_inner{
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 16px 24px;
  border: 1px solid #000;
  font-weight: bold;
  color: #000;
  position: relative;
}

.icon {
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  width: 10px;    
  height: 10px;   
  border-top: 2px solid #000;   
  border-right: 2px solid #000;  
  transform: rotate(135deg);  
  transition: .4s ;
}

details.is-opened .icon {
  transform: rotate(315deg);
}

.content {
  background-color: #fff;
  overflow: hidden;
}

.content_inner {
  padding: 10px;
}

.accordion details {
  margin-bottom: 4px;
}

.accordion details:last-child {
  margin-bottom: 0;
}
